@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400);

body{
	color: #1C1C1C;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a:link, a:visited{
	text-decoration: none;
	color:#57A7C7;
}

h1{
	color: #306B73;
}

.list div{
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 800px;
}

.list div:hover{
	background: aliceblue;	
}

.desktop{
	display: block;
}

.tablet, .mobile{
	display: none;
}

@media (min-width:501) and (max-width:1050){
	.tablet{
		display: block;
	}
	
	.desktop, .mobile{
		display: none;
	}
}

@media(max-width:500){
	.list div{
		border-top: #E2E2E2 1px solid;
	}
	
	.mobile{
		display: block;
	}
	
	.desktop, .tablet{
		display: none;
	}
}
